body {
    margin: 0;
    font-family: 'Radley', sans-serif;
    background-color: #f9fafc;
    color: #000000;
}

header {
    text-align: center;
    padding: 80px 0;
    background-color: #413220;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
    color: #F0EDE5
;
}

h2 {
    font-size: 2.2rem;
    font-weight: 700;
    margin-left: 2rem;
    color: #544636;
}

h3 {
    font-size: 1.7rem;
    font-weight: 700;
    margin-left: 3rem;
    color: #665a4c;
}

.site-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px; /* space between image and name */
    padding: 60px 0;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%; /* makes it circular */
    object-fit: cover; /* ensures image fills the circle */
}

.site-header h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #2c3e50;
    margin: 0;
}